.cookie-banner { display: none; position: fixed; width: 100%; max-width: 1200px; left: 50%; bottom: 15px; padding: 20px 30px; @include translate(-50%, 0); @include align-items(); @include justify-content(space-between); background: var(--grey-fa); box-shadow: 0 0 100px rgba(0, 0, 0, .2); border-radius: 10px;
    &.active { @include flexbox(); }
    div { @include flexbox(); @include align-items(); 
        svg { fill: currentColor; color: var(--grey-666); @include flex(1, 0, auto); }
        p { max-width: 980px; padding: 0 30px; }
    }
    .button { display: inline-block; background: var(--main-color); padding: 10px 30px; text-transform: uppercase; color: var(--grey-fc); border-radius: 5px; font-family: 'PT Sans', sans-serif; font-size: 14px; font-weight: 700; border: none; cursor: pointer; @include transition(background .1s ease); text-decoration: none; text-align: center;
        &:hover { background: var(--main-color-hover); }
        &:active, &:focus { outline: none; }
    }
}

@media screen and (max-width: 640px) {
    .cookie-banner { @include flex-flow(column nowrap); }
}

@media screen and (max-width: 468px) {
    .cookie-banner div { @include flex-flow(column nowrap); }
}