.site-search { position: relative; @include flexbox(); @include align-items(); @include flex-flow(column wrap); max-width: 600px; margin: 30px auto 0; padding: 0 20px;
    & > div { display: inline-grid; max-width: 400px;
        &:after { content: attr(data-value); visibility: hidden; white-space: pre-wrap; height: 0; }
        #site-search-input { max-width: 400px; height: 30px; font-family: 'PT Serif', serif; font-style: italic; color: var(--grey-222); font-size: 18px; background: transparent; border: none; outline: none; @include placeholder() { color: var(--grey-ccc); font-family: 'PT Serif', serif; font-style: italic; font-size: 18px; } }
    }
    #site-search-results-container { position: absolute; width: 90%; background: var(--grey-fa); top: 40px; margin: 0; padding: 0; list-style: none; box-shadow: 0 10px 200px rgba(0,0,0,.15); z-index: 1; border-radius: 5px;
        &:empty { display: none; }
        .no-results { padding: 10px 15px; text-align: center; }
        li { border-top: 1px solid var(--grey-ddd);
            &:first-of-type { border-top: none;
                a { border-radius: 5px 5px 0 0; }
            }
            &:last-of-type a { border-radius: 0 0 5px 5px; }
            a { display: block; padding: 10px 15px; text-decoration: none; color: var(--grey-555); background: transparent; @include transition(background .1s ease);
                &:hover { background: var(--grey-eee); }
            }
        }
    }
}